@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital@0;1&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Mulish", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

h2 {
  margin-bottom: 0.4rem;
  color: dodgerblue;
}

.canvas {
  display: flex;
  width: 80%;  
  height: 100%; 
  border-radius: 20px;
  overflow: hidden;  
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
    height: 100%;
    width: 20%;
}

.navbar > ul {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

}

.navbar > ul > li {
  list-style-type: none;
  height: 33.3%;
  width: 100%;
  border: 5px solid dodgerblue;
  border-radius: 20px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}

.navbar > ul > li:last-child {
  margin-bottom: 0;
}

.camera-speed {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
}

.camera-speed span {
  width: 50%;
}

.settings-btn {
  display: none;
}

@media (max-width: 850px) {
  .canvas {
    width: 100%;
  }
  .navbar {
    position: absolute;
    display: none;
  }

  .navbar.active {
    position: absolute;
    display: block;
    width: 85vw;
    height: 100vh;
    padding: 20% 0 10%;
    height: 80%;
  }

  .settings-btn {
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 3%;
    right: 8%;
    background-color: white;
    border: none;
    border-radius: 20%;
    font-size: 1.7rem;
    cursor: pointer;
    z-index: 100;
  }

  .settings-btn:active {
    transform: scale(1.1);
  }
}

select {
  border: none;
  background-color: dodgerblue;
  border-radius: 1rem;
  font-family: "Mulish", sans-serif;
  color: white;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.3rem;
  padding: 0.1rem 0.3rem;
}

@media (max-width: 600px) {
  main {
    height: 95vh;
    padding-top: 0;
    padding-bottom: 3rem;
  }
}
